.search {
  width: 90%;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.search .search-top {
  width: 90%;
  height: auto;
  display: flex;
  align-items: flex-end;
  align-items: center;
  flex-direction: column;
}

.search .search-top h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  position: absolute;
  right: 28%;
  top: -35%;
}

.search .search-top .search_icon {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .search-top .search_icon h4 {
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.search .search-top .search_icon input {
  width: 75%;
  height: 50px;
  background-color: rgb(235, 230, 219);
  padding: 15px 0 15px 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  border: none;
  outline: none;
}

.search .search-top .search_icon svg {
  font-size: 30px;
  color: #00439b;
}

.search .search_bot {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0 150px 100px;
  /* position: absolute; */
  /* border: 2px solid #333333; */
}

.search .search_bot .razdel {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 50px;
}

.search .search_bot .search_prod {
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  /* border: 2px solid red; */
}

.search .search_bot .search_prod .prod_left {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  /* border: 2px solid purple; */
}

.search .search_bot .search_prod .prod_left h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  /* margin-right: 120px; */
}

.search .search_bot .search_prod .prod_right {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
}

.search .search_bot .search_prod .prod_right h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #274597;
}

.search .search_bot .search_prod .prod_right p {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.search .boxes {
    width: 18%;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
}

.search .boxes a {
    width: 15%;
    height: 100%;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}